

*,::after,::after{
  margin: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
}
.grid{
  grid-gap: 1em;
}

.form {
  background-image: linear-gradient(to right, #B86ADF, #FF6C63,#FFBA47);
}
.email-form{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
